.app {
  /* Palette */
  --pal-red-dark: #440000;
  --pal-red-main: #992222;
  --pal-red-lite: #ee4444;
  --pal-grn-dark: #004400;
  --pal-grn-main: #229922;
  --pal-grn-lite: #44ee44;
  --pal-blu-dark: #000044;
  --pal-blu-main: #222299;
  --pal-blu-lite: #4444ee;

  /* Globals */
  --ui-corner: .5em;
  --ui-border: 1px solid lightgray;
  width: 100%;
  height: 100%;

  input, Output {
    text-align: center;
  }

  table {
    border-collapse: collapse;
    th, td {
      padding: .1em;
      border: 1px solid lightgray;

      &.lite {
        border: none;
      }
    }

    tr {
      &.lite {
        td, th {
          border: none;
        }
      }
    }
  }
}